<html>

<head>

    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='~/css/site.css'>

    <title>Food and Drug Recalls</title>

</head>

<body>
    <header>

        <div class='headerdiv'>
            <h2>Food and Drug Recalls</h2>
        </div>

    </header>

    <section>
        <div class='divwon'>

            <span class='dot'></span>
            <span class='dot'></span>
            <span class='dot'></span>

        </div>

        <div class='divtwo'>

            <h5>Search Recalls Or Click on a Menu to learn more</h5>

            <nav>
                <a href="/home/index">Home</a>
                <a href="/home/aboutus">About Us</a>
                <a href="/home/foodrecall">Food</a>
                <a href="/home/drugrecall">Drug</a>
                <a href="/home/blogs">Blogs</a>
                <div class="animation start-home"></div>
            </nav>

        </div>
        <div class='divthree'>



        </div>

        <div class='divseven'>
            <div class='blog1'>
                <h4>Who we are?</h4>

                <h6>
                    Food and Drug Recall was founded in 2016. Our website gives statistics about the food and drug recalls across countries. It provides articles about recent recalls and effects of defective products in the market. Additionally, it gives information about how to act if the consumer finds something fishy about the product.</br>
                </h6>
            </div>
            <div class='blog2'>
                <h4>Motivation</h4>

                <h6>Our intention is to increase awareness about food and drug recall amongst general crowd. Many people overlook the products quality. Looking at the frequency of recalls and cases of what can happen if we do not pay attention to such products can increase the possibility that consumers would be active in taking action. If the customers are alert and know the right place and procedure to report issues, it is highly likely that they would act.</span></h6>

            </div>
            <div class='blog3'>
                <h4>Implementation Details</h4>
                <h6>
                    We identified the Public API exposed by FDA at the link <a href="https://open.fda.gov/downloads/">Open FDA API</a>
                    <ul>
                        <li>Design principles: Color coordinated, Call to Action, Content relevant, Navigation friendly, short loading time, Simplicity were used</li>
                        <li>API selection: Selected API that can populate the website output tables based on user search query</li>
                        <li>HTML, CSS usage: Used a wide variety of HTML and CSS for DOM and styling</li>
                        <li>Team collaboration: Used Github to commonly manage source code across the team members for version control</li>
                        <li>Subject/Domain knowledge: Learnt deeply about Food And Drug Recall procedures, technical terms and past information from FDA website to design a useful customised website with relevant information for users</li>
                        <li>Simplicity: Used simplicity and minimalistic principles to deliver a powerful feature rich website to our customers</li>
                    </ul>
                </h6>

            </div>

            <div class='blog3'>
                <h4>Self Reflections</h4>
                <h6>
                    We learnt the following while designing and developing this website
                    <ul>
                        <li>Hands on experience with advanced HTML and CSS</li>
                        <li>Implemented many new and latest CSS styling properties such as floating social icons, color changing menu, floating footer, pages consistency templatized, circular objects, tables, dropdowns, forms, Document Object Model (DOM) and many others</li>
                        <li>
                            Mobile responsiveness, multi device adaptability, compressed images for uniform size and quickloading and maintaining consistency of look and feel
                        </li>
                        <li>Usability: Deeply researched many APIs and selected a relevant and useful API on Food and Drugs recall exposed by US Government FDA website</li>
                        <li>We practised Object Oriented Class Diagram. The Link is here <a href="https://github.com/sks4world/Assignment3_Web_LookAndFeel/blob/master/Class_DIagram_Food_Drug_Recalls.docx">GitHub Weblook and Feel</a>
                    </ul>
                </h6>

            </div>

            <table class="gridtable">
                <tr>
                    <th>Team Member 1</th>
                    <th>Team Member 2</th>
                    <th>Team Member 3</th>
                </tr>
                <tr>
                    <td><img src="pragati.jpg" alt="pragati" width=150 height=200></td>
                    <td><img src="srikrishna.jpg" alt="srikrishna" width=150 height=200></td>
                    <td><img src="avinash.jpg" alt="avinash" width=150 height=200></td>
                </tr>
                <tr>
                    <td>Pragati Shukla</td>
                    <td>Srikrishna Krishnarao Srinivasan</td>
                    <td>Avinash Narra</td>
                </tr>
                <tr>
                    <td><a href="https://www.linkedin.com/in/pragatishukla14">linkedin</a></td>
                    <td><a href="https://www.linkedin.com/in/srikrishna-krishnaraosrinivasan-a882b930">linkedin</a></td>
                    <td><a href="https://www.linkedin.com/in/avinashnarra">linkedin</a></td>
                </tr>
            </table>

        </div>

        <div class='sticky-container'>
            <ul class='sticky'>
                <li>
                    <img src='f.png' width='32' height='32'>
                    <h6><a href='https://facebook.com/USFMuma' target='_blank'>Like us on Facebook</a></h6>
                </li>
                <li>
                    <img src='t.png' width='32' height='32'>
                    <h6><a href='https://twitter.com/usfmuma' target='_blank'>Follow us on Twitter</a></h6>
                </li>
                <li>
                    <img src='y.png' width='32' height='32'>
                    <h6><a href='https://youtube.com/USFCollegeofBusiness' target='_blank'>Subscribe on Youtube</a></h6>
                </li>
                <li>
                    <img src='i.png' width='32' height='32'>
                    <h6><a href='https://instagram.com/usfmuma' target='_blank'>Follow us on Instagram</a></h6>
                </li>
                <li>
                    <img src='g.png' width='32' height='32'>
                    <h6><a href='https://github.com/sks4world/Assignment3_Web_LookAndFeel' target='_blank'>Fork us on Github</a></h6>
                </li>

            </ul>
        </div>


    </section>

    <footer>
        <div class='divfooter'>

            <p>
                Information on <span>Food Recalls and Drug Recalls</span> Be Informed
            </p>

        </div>

    </footer>

</body>
</html>