
<html>

<head>

    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='~/css/site.css'>

    <title>Food and Drug Recalls</title>

</head>

<body>
    <header>

        <div class='headerdiv'>
            <h2>Food and Drug Recalls</h2>
        </div>

    </header>

    <section>
        <div class='divwon'>

            <span class='dot'></span>
            <span class='dot'></span>
            <span class='dot'></span>

        </div>

        <div class='divtwo'>

            <h5>Search Recalls Or Click on a Menu to learn more</h5>

            <nav>
                <a href="/home/index">Home</a>
                <a href="/home/aboutus">About Us</a>
                <a href="/home/foodrecall">Food</a>
                <a href="/home/drugrecall">Drug</a>
                <a href="/home/blogs">Blogs</a>
                <div class="animation start-home"></div>
            </nav>

        </div>
        <div class='divthree'>



        </div>

        <div class='divseven'>
            <div class='blog1'>
                <h4><strong>What is a food & drug recall?</strong></h4>

                <h6>Ideally suppliers or manufacturers remove products that are potentially dangerous for health or are mislabeled. In most cases such products can be identified in the company’s internal testing itself. But when it is not, Food and Drug Administration (FDA) finds it and recalls the product. Products, therefore can be recalled while they are on the shelf or before as well. This system of recalling food/drug is extremely helpful for public protection against defective and potentially harmful products.</h6>
            </div>
            <div class='blog2'>
                <h4><strong>How are Recalls classified?</strong></h4>
                <h6>
                    <ul>
                        <li>Class I: A product that could be fatal.</li>
                        <li>Class II: A product that can cause moderate to serious health issues.</li>
                        <li>Class III: A products that violates the labeling and manufacturing guidelines of FDA. But does not pose any health issues.</li>
                    </ul>
                </h6>
            </div>
            <div class='blog3'>
                <h4>How To Report?</h4>
                <h6>
                    <ul>
                        <li>ORA Recall Coordinators</br>Depending on the product type, firm’s location and division, can get details about the coordinators. A product my fall under various categories of products like Division of Pharmaceutical Quality Operations and Tobacco Operations, Division of Human and Animal Food Operations (includes cosmetics) and so on. Use the link below for further information and action. <a href="https://www.fda.gov/safety/industry-guidance-recalls/ora-recall-coordinators">Click to read more</a></li>
                        <li> Consumer Complaint Coordinators</br>Contact Consumer Complaint Coordinators for FDA regulated products. Please find the link below for coordinator details region wise.<a href="https://www.fda.gov/safety/report-problem/consumer-complaint-coordinators">Click to read more</a></li>
                    </ul>
                </h6>
            </div>

            <div class='blog3'>
                <h4>Recall Related Articles</h4>
                <h6>
                    Click the links below to learn more about recall</br>
                    <ul>
                        <li><a href="https://www.fda.gov/safety/major-product-recalls/mccain-foods-product-recalls">Read More about McCain Food Recalls</a></li>
                        <li><a href="https://www.fda.gov/safety/recalls-market-withdrawals-safety-alerts/peekay-international-inc-issues-alert-undeclared-sulfites-keshav-dry-apricot">Peekay International Inc. Issues Alert on Undeclared Sulfites in “KESHAV Dry Apricot”</a></li>
                        <li><a href="https://www.fda.gov/medical-devices/medical-device-recalls/medtronic-recalls-6-french-sherpa-nx-active-guide-catheters-due-separation-and-fragmentation-issue">Medtronic Recalls 6 French Sherpa NX Active Guide Catheters Due to Separation and Fragmentation Issue</a></li>
                        <li><a href="https://www.fda.gov/safety/medical-product-safety-information/lung-injury-update-fda-warns-public-stop-using-tetrahydrocannabinol-thc-containing-vaping-products">Lung Injury Update: FDA Warns Public to Stop Using Tetrahydrocannabinol (THC)-Containing Vaping Products and Any Vaping Products Obtained Off the Street</a></li>
                    </ul>
                </h6>
            </div>



        </div>

        <div class='sticky-container'>
            <ul class='sticky'>
                <li>
                    <img src='f.png' width='32' height='32'>
                    <h6><a href='https://facebook.com/USFMuma' target='_blank'>Like us on Facebook</a></h6>
                </li>
                <li>
                    <img src='t.png' width='32' height='32'>
                    <h6><a href='https://twitter.com/usfmuma' target='_blank'>Follow us on Twitter</a></h6>
                </li>
                <li>
                    <img src='y.png' width='32' height='32'>
                    <h6><a href='https://youtube.com/USFCollegeofBusiness' target='_blank'>Subscribe on Youtube</a></h6>
                </li>
                <li>
                    <img src='i.png' width='32' height='32'>
                    <h6><a href='https://instagram.com/usfmuma' target='_blank'>Follow us on Instagram</a></h6>
                </li>
                <li>
                    <img src='g.png' width='32' height='32'>
                    <h6><a href='https://github.com/sks4world/Assignment3_Web_LookAndFeel' target='_blank'>Fork us on Github</a></h6>
                </li>
            </ul>
        </div>


    </section>

    <footer>
        <div class='divfooter'>

            <p>
                Information on <span>Food Recalls and Drug Recalls</span> Be Informed
            </p>

        </div>

    </footer>

</body>
</html>