@model  IEnumerable<WebApplication4.Models.Recall>


<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='~/css/site.css'>

    <title>Food and Drug Recalls</title>
</head>

<body>
    <header>

        <div class='headerdiv'>
            <h2>Food and Drug Recalls</h2>
        </div>

    </header>

    <section>
        <div class='divwon'>

            <span class='dot'></span>
            <span class='dot'></span>
            <span class='dot'></span>

        </div>

        <div class='divtwo'>

            <h5>Search Recalls Or Click on a Menu to learn more</h5>

            <nav>
                <a href="/home/index">Home</a>
                <a href="/home/aboutus">About Us</a>
                <a href="/home/foodrecall">Food</a>
                <a href="/home/drugrecall">Drug</a>
                <a href="/home/blogs">Blogs</a>
                <div class="animation start-home"></div>
            </nav>

        </div>
        <div class='divthree'>

        </div>

        <div class='divfour'>

        </div>

        <div class='divfive'>
            <form class="form-style-9" asp-action="drugrecall" method="post">
                <h3>To Search Recalls Enter Your Desired Criteria To Know More </h3>
                <ul>
                    <li>

                        <input name="country" class="field-style field-split align-right" placeholder="united states, china, india" />
                        @*<input name="state" class="field-style field-split align-right" placeholder="ca, fl, nj, ny, tx, il, nc" />
                        <input name="catclass" class="field-style field-split align-right" placeholder="class I, class II, class iii" />*@

                    </li>
                    <li>
                        <input type="submit" value="Search Recalls" asp-controller="Home" asp-action="drugrecall"/>
                    </li>
                </ul>
            </form>

        </div>

        <div class='divsix'>

            <h4>Output table below is obtained courtesy FDA API ouptut on <span>Drug Recalls</span></h4>

            <table class="gridtable">
                <thead>
                    <tr>
                        <th>Product Description</th>
                    
                    
                        <th>Country</th>
                    
                    
                        <th>City</th>
                    
                    
                        <th>Product Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.product_description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.country)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.city)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.product_quantity)
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <h5>"This country does not have any records. Please try another country"</h5>
                    }
                </tbody>
            </table>


        </div>

        <div class='sticky-container'>
            <ul class='sticky'>
                <li>
                    <img src='f.png' width='32' height='32'>
                    <h6><a href='https://facebook.com/USFMuma' target='_blank'>Like us on Facebook</a></h6>
                </li>
                <li>
                    <img src='t.png' width='32' height='32'>
                    <h6><a href='https://twitter.com/usfmuma' target='_blank'>Follow us on Twitter</a></h6>
                </li>
                <li>
                    <img src='y.png' width='32' height='32'>
                    <h6><a href='https://youtube.com/USFCollegeofBusiness' target='_blank'>Subscribe on Youtube</a></h6>
                </li>
                <li>
                    <img src='i.png' width='32' height='32'>
                    <h6><a href='https://instagram.com/usfmuma' target='_blank'>Follow us on Instagram</a></h6>
                </li>
                <li>
                    <img src='g.png' width='32' height='32'>
                    <h6><a href='https://github.com/sks4world/Assignment3_Web_LookAndFeel' target='_blank'>Fork us on Github</a></h6>
                </li>

            </ul>
        </div>





    </section>

    <footer>
        <div class='divfooter'>

            <p>
                Information on <span>Food Recalls and Drug Recalls</span> Be Informed
            </p>

        </div>

    </footer>

</body>


</html>
